[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = git@github.com:MonoGame/MonoGame.Dependencies.git
[submodule "ThirdParty/SDL_GameControllerDB"]
	path = ThirdParty/SDL_GameControllerDB
	url = git@github.com:gabomdq/SDL_GameControllerDB.git
[submodule "ThirdParty/StbImageWriteSharp"]
	path = ThirdParty/StbImageWriteSharp
	url = git@github.com:StbSharp/StbImageWriteSharp.git
